@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

  
.page{
    overflow-y: hidden;
    position: static;
    background-color: #5881ab;
    color: #eeeeee;    
    display:flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}
.brown{
    height:0.813em;
    width: 100%;
    background: #000000;    
}
.header{
    margin:auto;
    display: flex;
    flex-direction: row;
    width: 55%;
    position: left;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 700;
    
   
}

.headerLink{
    cursor: pointer;
    border-radius: 7px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 150px;
    margin-right: 10px;
}
.arrow{
    width: 0; 
    height: 0; 
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    
    border-left: 6px solid #ffffff ;
  }

#blog{
    width:150px;
}
.clickableLogo{ 
    width:4.7em;
    height: 4.7em;
    
}
.title{
    font-size: 50px;
    font-weight:700;
    padding: 40px;
    letter-spacing: 10px;
    text-align: center;
}

.imgscroller{
    display: flex;
    justify-content: center;
    
    width: 100%
    
    
}
.stuff{
    width: 30%;
    padding-right: 40px;
}

.aboutSection{
    margin: auto;
    display: flex;
    
    width: 65%;
    font-size: 25px;
    font-weight: 700;
    align-items: center;
    border-bottom: dotted 1px white;
    padding-top: 20px;
}
.about{
    padding-top: 40px;
    width: 70%;
    margin-right: 50px; 
    font-size: 1.25em;
    font-weight: 700;
}
#about{
    font-size: .55em;
    font-weight: 300;
}
.icon{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.iconImage{
    height: auto;
    width: 100%;
}
.news{
    margin: auto;
    display: flex;
    padding: 50px 0px;
    width: 65%;
    font-size: 25px;
    font-weight: 700;
    align-items: center;
    border-bottom: dotted 1px white;
}
.email{
    width: 70%;
    font-size: 15px;
    
}
.emailContainer{
    padding-top: 20px;
    font-size: 15px;
}
.inputEmail{
    width: 50%;
    height: 40px;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 700;
    padding-left: 10px;
}
.inputfalse{
    
    width: 274px;
    height: 40px;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 700;
    padding-left: 10px;
    
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes colorChange{
    0%, 100%{
        
    }

    50%{
        border: red;
    }
}

@keyframes shake {
    0%, 100%{
        background: white;
    }
    50%{
        background: rgb(216, 33, 33);
    }
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.button{
    border-radius: 7px;
    width: 130px;
    font-weight: 700;
    margin-left: 10px;
    height: 40px;
    color: white;
    outline: none;
    background-color: #5881ab;
    border: none;
    box-shadow: rgb(0, 0, 0) -1px -1px 0px 0px inset, rgb(255, 255, 255) 1px 1px 0px 0px inset;
    text-align: center;
    line-height: 38px;
    letter-spacing: 1px;
}
.button:active{
    box-shadow: rgb(0, 0, 0) 1px 1px 0px 0px inset, rgb(255, 255, 255) -1px -1px 0px 0px inset
}
.mission{
    padding-left: 30px;
   width: 470px;
}
.photoAndStory{
    margin: auto;
    display: flex;
    padding: 40px 0px;
    width: 65%;
    font-size: 25px;
    font-weight: 700;
    align-items: center;
    border-bottom: dotted 1px white;
    
}


.Image{
    width: 35%;
    margin-right: 50px;
    
}

.aboutImage{
    border-radius: 100%;
    width: 100%;
    height: auto;
    border: 10px solid white;
}

.world-image-wrapper{
    width: 65%;
}

.worldImage{
    width: 100%;
}

.worldMap{
    width: 100%;
    height: auto;
}
.footer{
    margin: auto;
    display: flex;
    height: 100px;
    width: 75%;
    align-items: center;
    justify-content: space-around
}
.callToAction{
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding-right: 100px;
    
}
.SM{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.getInvolvedBtn{
    display:flex;
    height: 33px;
    width: 150px;
    background-color: #ff7259;    
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 7px;
    margin-right: 10px;
    cursor: pointer;
}


.donateBtn{
    display:flex;
    height: 33px;
    width: 150px;
    background-color: #2ec99a;      
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 7px;
   
   cursor: pointer;
}


.facebookBtn {
    text-decoration: none !important;
	background: #ffffff;
	border-radius: 9%;
	display: block;
	height: 50px;
	left: 50%;
	top: 50%;
    width: 50px;
    
     cursor: pointer;
}
 
.facebookBtn:after {
    text-decoration: none !important;
    
	color: #5881ab;
	content: "f";
	display: block;
	font-family: Facebook Letter Faces, Arial;
	font-size: 50px;
	font-weight: bold;
    margin: 6% 0 0 50%; 
    
}


#greenlight{
    animation: shakeVertical 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shakeVertical {
    0%, 100%{
        background: white;
    }
    50%{
        background: rgb(0, 255, 13);
    }
    10%, 90% {
      transform: translate3d(0, -1px, 0);
    }
    
    20%, 80% {
      transform: translate3d(0, 2px, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(0, -4px, 0);
    }
  
    40%, 60% {
      transform: translate3d(0, 4px, 0);
    }
  }

  .hamburger{
 display: none;   
}

@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-30px, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes fadeIn{
    from {
      opacity: 0;
      transform: translate3d(30px, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(0, -30px, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }


.span {
    display:block;
    background:#566973;
    border-radius:2px;
  }
  
  #menu-toggle {
    transition:.25s ease-in-out;
    box-sizing:border-box;
    width:100px;
    height:100px;
    margin:50px auto;
    position:relative;
    position:relative;
    cursor:pointer;
    background:rgba(255,255,255,.4);
    border-radius:5px;}

    #menu-toggle:hover {
      background:rgba(255,255,255,.8);
    }
    #hamburger {
      position:absolute;
      height:100%;
      width:100%;
    }
      #hamburger span {
        width:60px;
        height:4px;
        position:relative;
        top:24px;
        left:20px;
        margin:10px 0;
        animation: fadeInLeft 1s;
        animation-fill-mode: backwards
      }
        #hamburger span:nth-child(1){
          animation-delay:0s;
        }
        #hamburger span:nth-child(2){
          animation-delay:.3s;
        }
        #hamburger span:nth-child(3){
          animation-delay:.5s;
        }
      
    
        #cross {
      position:absolute;
      height:100%;
      width:100%;
      transform:rotate(45deg);
    }
    #cross {
        position:absolute;
        height:100%;
        width:100%;
        transform:rotate(45deg);
        
    }
        
            #cross span:nth-child(1){
            height:0%;
            width:4px;
            position:absolute;
            top:10%;
            left:48px;
            animation: fadeIn 1s;
            transition-delay:0s;
          }
          #cross span:nth-child(2){
            width:0%;
            height:4px;
            position:absolute;
            left:10%;
            top:48px;
            animation: fadeInRight 1s;
            transition-delay:.25s;
          }
        
      
    
  
  #menu-toggle.open #hamburger span{
    width:0%;
}

#menu-toggle.open #hamburger span:nth-child(1){
    transition-delay:0s;
}
#menu-toggle.open #hamburger span:nth-child(2){
    transition-delay:.125s;
    
}
#menu-toggle.open #hamburger span:nth-child(3){
    transition-delay:.25s;
}
       
#cross span:nth-child(1){
       
        
          height:80%;
          transition-delay:.625s;
        
      
      
    }
  
    #cross span:nth-child(2) {
    
       width:80%;
       transition-delay:.375s;
     
   }    


.invisible{
    display: none;
}

.fade{
    width: 100%;   
    
    transition: all 1s;
    opacity: 0;
    transform: translatey(-30px);
}

.spanthis{
    width: 100%;
}


.hidden{
    width: 100%;
    transition: all 1s;
    opacity: 0;
    transform: translatey(-30px)
}

.drop-down-header{
    width: 100%;
    transition: all 1s;
    opacity: 1;   
    transform: translatey(0px)
}

.drop-down{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 40px;
    background: rgba(255,255,255,.4);
    margin-bottom: 1px;
    
}

.drop-down:hover{
    background: rgba(255,255,255,.8);
}



.load-me{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #5881ab;
    
}

  .loader {
    position: relative;
    margin:auto
  }
  
  .one {
    position: absolute;
    border-radius: 50%;
    background: #FFFFFF;
    opacity: .0;
    animation: loading 1.3s .65s infinite;
    height: 20px;
    width: 20px;
  }
  
  .two {
    position: absolute;
    border-radius: 50%;
    background: #1bf3a0;
    opacity: .0;
    animation: loading 1.3s infinite;
    height: 20px;
    width: 20px;
  }
  
  
  @keyframes loading {
    0% {
      opacity: .0;
      transform: scale(.15);
      box-shadow: 0 0 2px rgba(black, .1);
    }
    50% {
      opacity: 1;
      transform: scale(2);
      box-shadow: 0 0 10px rgba(black, .1);
    }
    100% {
      opacity: .0;
      transform: scale(.15);
      box-shadow: 0 0 2px rgba(black, .1);
    }
  }
  
  
  
  
  
  @-webkit-keyframes spreadout {
    0% { -webkit-transform: scale(0.3) }
    80% {
      -webkit-transform: scale(1.0);
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes spreadout {
    0% { 
      -webkit-transform: scale(0.3);
      transform: scale(0.3);
    }
    80% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
    100% {
      opacity: 0;
    }
  }

  @media screen and (max-width: 1125px){
    .emailContainer{
        display: flex;
        flex-direction: column;
    }

    .inputEmail{
        width: 75%;
        
    }
  }

@media screen and (max-width: 1002){
    .inputEmail{
        width: 100%;
        
    }
}

  @media screen and (max-width: 900px){
    .inputEmail{
        width: 100%;
        
    }
  }

  @media screen and (max-width: 740px) {
    
    .stuff{
        width: 50%;
        padding-right: 40px;
    }
    
    .aboutSection{
          flex-direction: column;
      }
      

      .about{
          margin-right: 0;
          width: 98%;
      }
      .icon{
          width: 100%;
          padding-bottom: 20px;
      }

      .news{
          flex-direction: column
          
      }
      

      .mission{
          width: 100%;
          margin-top: 50px;
          padding-left: 0;
      }

      .photoAndStory{
          flex-direction: column;
      }
      .worldImage{
          display: none; 
      }
  }

  @media screen and (max-width: 700px){
      .header{
          display: none;
      }

      .hamburger{
          text-align: right;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      

  }

  @media screen and (max-width: 500px) {

    .getInvolvedBtn{
        height: 33px;
        width: 100px;
        font-size: 15px;
        margin-right: 10px;
    }
    
    
    .donateBtn{
        
        height: 33px;
        width: 100px;
        font-size: 15px;
    }
    
    
    .facebookBtn {
    
        height: 50px;
        
        width: 50px;
        
    }
       

  }