

.buttonContainer{
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 340px;
    padding-bottom: 10px;
}
.usa{
    
    background: url('./../logo/usaIcon.png') no-repeat center;
    
    
}
.globe{
    
    background: url('./../logo/globeIcon.png') no-repeat center;
    background-size: 800px;
    
    
}
.plane{
   
    background: url('./../logo/planeIcon.png') no-repeat center;
    
}

#shadow{ 
    display: flex;
    height: 50px;
    width: 60px;
    background-size: 40px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    box-shadow: #f3c83a -1px -1px 0px 0px inset, rgb(253, 249, 172) 1px 1px 0px 0px inset;
    justify-content: space-between;
}
#shadow:active{
    box-shadow: #f3c83a 1px 1px 0px 0px inset, rgb(253, 249, 172) -1px -1px 0px 0px inset;
}

.container{
    background: white;
    border-radius: 50px 0px 50px 0px;
    
    margin-bottom: 40px;
    height: 180px;
    width: 590px;
    display: flex;
    
}
.container:active{
}
.vContainer{
    
    width: 295px;
    height: 180px;
}
.vTitle{
    font-weight: 700;
    font-size: 15px;
    
    
    padding: 15px;

}
.vDetails{
    display: flex;
    font-size: 10px;
    height: 50px;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    padding: 20px;
    

}
.imageWrapper{
    width: 295px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.roundImage{
    width: 120px;
    height: 120px;
}
.vimage{
    
    height: 100%;
    width: 100%;
    border-radius: 100%;
    border: 5px #552f1c solid;
}

.vWrapper{
    display:flex;
    justify-content: center;
    align-items: center;
}
.removeVolunteer{
    background: transparent;
    border: none;
    cursor: pointer;
}
.vLink{
    background: #5881AB;
    height: 25px;
    width: 105px;
    margin-top: 30px;
    margin: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    border:none;
    
}

.vLink:active{
    box-shadow: rgb(216, 39, 216) -2px -2px 0px 0px inset, rgb(65, 0, 65) 2px 2px 0px 0px inset;
}