

.buttonContainer{
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 340px;
    padding-bottom: 10px;

}
.usa{
    
    background: url('./../logo/usaIcon.png') no-repeat center;
    
    
}
.globe{
    
    background: url('./../logo/globeIcon.png') no-repeat center;
    background-size: 800px;
    
    
}
.plane{
   
    background: url('./../logo/planeIcon.png') no-repeat center;
    
}

#shadow{ 
    display: flex;
    height: 50px;
    width: 60px;
    background-size: 40px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    box-shadow: #000000 -1px -1px 0px 0px inset, rgb(255, 255, 255) 1px 1px 0px 0px inset;
    justify-content: space-between;
}
#shadow:active{
    box-shadow: #000000 1px 1px 0px 0px inset, rgb(255, 255, 255) -1px -1px 0px 0px inset;
}

.container{
    background: white;
    border-radius: 50px 0px 50px 0px;
        color: #252a30;

    margin-bottom: 40px;
    height: 180px;
    width: 590px;
    display: flex;
    
}

.vContainer{
    
    height: 180px;
}
.vTitle{
    font-weight: 700;
    font-size: 15px;
    
    
    padding: 15px;

}
.vDetails{
    display: flex;
    font-size: 10px;
    height: 50px;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    padding: 20px;
    

}
.imageWrapper{
    width: 295px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.roundImage{
    width: 120px;
    height: 120px;
}
.vimage{
    
    height: 100%;
    width: 100%;
    
}

.vWrapper{
    display:flex;
    justify-content: center;
    align-items: center;
}
.removeVolunteer{
    background: transparent;
    border: none;
    cursor: pointer;
}
.vLink{
    background: #5881AB;
    height: 25px;
    width: 105px;
    margin-top: 30px;
    margin: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    border:none;
    
}


.opportunity-wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 30px;
}


.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    color: black;
      
  }
  
      .flip-container:hover .flipper,  
    .flip-container.hover .flipper {
          -webkit-transform: rotateY(180deg);
          -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
          transform: rotateY(180deg);
      }
  
  .flip-container, .front, .back {
      width: 320px;
      height: 427px;
  }
  
  .flipper {
      -webkit-transition: .8s;
      -webkit-transform-style: preserve-3d;
  
      -moz-transition: .8s;
      -moz-transform-style: preserve-3d;
    
    -o-transition: .8s;
      -o-transform-style: preserve-3d;
  
      transition: .8s;
      transform-style: preserve-3d;
  
      position: relative;
  }
  
  .front, .back {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
      backface-visibility: hidden;
  
      position: absolute;
      top: 0;
      left: 0;
  }
  
  .front {
      
      z-index: 2;
  }
  
  .back {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
  
      background: #f8f8f8;
  }
  
  .front .name {
      font-size: 2em;
      display: inline-block;
      background: rgba(33, 33, 33, 0.9);
      color: #f8f8f8;
      font-family: Courier;
      padding: 5px 10px;
      border-radius: 5px;
      bottom: 60px;
      left: 25%;
      position: absolute;
      text-shadow: 0.1em 0.1em 0.05em #333;
  
      -webkit-transform: rotate(-20deg);
      -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
      transform: rotate(-20deg);
  }
  
  .back-logo {
      position: absolute;
      top: 40px;
      left: 90px;
      width: 50%;
      height: 25%;
      
  }
  
  .back-title {
      font-weight: bold;
      color: #00304a;
      position: absolute;
      top: 180px;
      left: 0;
      right: 0;
      text-align: center;
      text-shadow: 0.1em 0.1em 0.05em #acd7e5;
      font-family: Courier;
      font-size: 2em;
      margin-bottom:10px;
  }
  
  .back p {
      position: absolute;
      bottom: 40px;
      left: 0;
      right: 0;
      font-size: 12px;
      text-align: center;
      margin-top: 10px;
    font-family: arial;
    line-height: 2em;
  }

  @media screen and (max-width: 740px){
      
.opportunity-wrapper{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px;
}

  }