@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');
.donate-page{
    text-align: center;
    
}

.donationImage{
    width: 100%;
    background: url('../../assets/tim-johnson-328094.jpg') no-repeat;
    background-size: cover;
    background-position: center top;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50vh;
    
}

.scalable{
    width:100%;
}
.goal{
    width: 100%;
    padding-bottom: 100px;
}

.brownFont{
   font-size: 40px;
   font-weight: 700;
   margin-top: 100px;
}


.btn-donate{
    outline: none;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    width: 300px;
    height: 50px;
    font-size: 15px;
    font-weight: 700;    
    color: rgb(41, 41, 41);
    font-family: 'Allerta Stencil', sans-serif;
}
.whiteFont{
    
    font-weight: 700;
    margin-top: 75px;
    
}
#donateTitle{
    font-size: 50px;
    color: rgb(255, 255, 255);
}
#donateTextWrapper{
    margin: auto;
    width: 75%
    
}

@media screen and (max-width: 740px) {
    
        
    
        #donateTitle{
            font-size: 30px;
            
        }
        
        .whiteFont{
            
            font-weight: 700;
            margin-top: 45px;
            
        }
    
        .btn-donate{
            
            width: 200px;
            height: 25px;
            font-size: 15px;
              
        }

        #donateTextWrapper{
            text-align: left;
            padding: 20px;
            font-size: 15px;
            line-height: 19px;
            
        }
    }
    

    
@media screen and (max-width: 740px) {
    
     
    
        .brownFont{
            font-size: 30px;
            font-weight: 700;
            margin-top: 100px;
         }

        #donateTitle{
            font-size: 20px;
        }
        
        .whiteFont{
            
            font-weight: 700;
            margin-top: 25px;
            
        }
    
        .btn-donate{
            outline: none;
            background: rgb(255, 255, 255);
            border-radius: 10px;
            width: 150px;
            height: 25px;
            font-size: 10px;
            font-weight: 700;    
        }
    }
    
    