.donate-page{
    text-align: center;
    
}

.donationImage{
    width: 100%;
    height: 350px;
    background: url('./africa.jpg') no-repeat;
    background-size: 100%;
    background-position: center top;
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.scalable{
    width:100%;
}
.goal{
    width: 100%;
    height: 100vh;
}

.brownFont{
   font-size: 40px;
   font-weight: 700;
   margin-top: 100px;
}


.btn-donate{
    outline: none;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    width: 300px;
    height: 50px;
    font-size: 15px;
    font-weight: 700;    
}
.whiteFont{
    
    font-weight: 700;
    margin-top: 75px;
    
}
#donateTitle{
    font-size: 50px;
    color: white;
}
#donateTextWrapper{
    margin: auto;
    width: 75%
    
}

@media screen and (max-width: 740px) {
    
        .donationImage{
            width: 100%;
            height: 270px;
            background: url('./africa.jpg') no-repeat cover;
            background-size: 100%;
            background-position: center top;
            display: flex;
            justify-content: center;
            align-content: center;
            
        }
    
        #donateTitle{
            font-size: 30px;
            color: white;
        }
        
        .whiteFont{
            
            font-weight: 700;
            margin-top: 45px;
            
        }
    
        .btn-donate{
            
            width: 200px;
            height: 25px;
            font-size: 15px;
              
        }

        #donateTextWrapper{
            text-align: left;
            padding: 20px;
            font-size: 15px;
            line-height: 19px;
            
        }
    }
    

    
@media screen and (max-width: 740px) {
    
        .donationImage{
            width: 100%;
            height: 200px;
            background: url('./africa.jpg') no-repeat cover;
            background-size: 100%;
            background-position: center top;
            display: flex;
            justify-content: center;
            align-content: center;
            
        }
    
        .brownFont{
            font-size: 30px;
            font-weight: 700;
            margin-top: 100px;
         }

        #donateTitle{
            font-size: 20px;
            color: white;
        }
        
        .whiteFont{
            
            font-weight: 700;
            margin-top: 25px;
            
        }
    
        .btn-donate{
            outline: none;
            background: rgb(255, 255, 255);
            border-radius: 10px;
            width: 150px;
            height: 25px;
            font-size: 10px;
            font-weight: 700;    
        }
    }
    
    